$breakpoint-medium: 800px;

body {
    --font-display: "Para Supreme";
    --font-body: sans-serif;

    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 40px;
    --spacing-xlarge: 80px;
}